/* Resetowanie stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Dodatkowe style CSS */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; /* Szerokość panelu bocznego */
    background-color: #f8f9fa; /* Kolor tła panelu bocznego */
    padding: 20px;
}
.main-content {
    margin-left: 270px; /* Dopełnienie marginesu dla panelu bocznego */
    padding: 20px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40; /* Kolor tła stopki */
    color: #ffffff; /* Kolor tekstu stopki */
    text-align: center;
    padding: 10px 0;
}
/* Style dla poszczególnych sekcji */
.home-section {
    background-color: #e9ecef; /* Kolor tła sekcji "Home" */
}
.random-album-section {
    background-color: #ced4da; /* Kolor tła sekcji "Pick random album" */
}
.search-results-section {
    background-color: #adb5bd; /* Kolor tła sekcji "Search results" */
}
.playlist-section {
    background-color: #868e96; /* Kolor tła sekcji "Your Playlist" */
}
.logo {
    width: 100px; /* Rozmiar logo */
    margin-bottom: 20px; /* Odstęp między logo a sekcjami */
}
