body {
    background-color: #181a1b;
}

/* Alternative Link */
#alternative-link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 3px;
}

/* YouTube Logo */
#youtube-logo {
    width: 100px;
    height: auto;
    margin-top: 5px;
}

/* Alternative Link Paragraph */
#alternative-link p {
    margin: 0;
    text-align: center;
}


.hidden {
    display: none;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fffacd;
  padding: 20px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gray;
}


.nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav li {
  margin-left: 10px;
}


.main-content {
      display: flex;
      flex-direction: column;
      margin-top: 120px;
      margin-right: 40px;
      margin-left: 40px;
      margin-bottom: 180px;
      padding: 30px;
      background-color: #343a40;
      color: #EBDBDA;
      border: 7px solid #9D961B;
}


.main-content h3{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 30px;
}

.content-wrapper {
  display: flex;
}

.what-is-vcradio-container,
.vcradio-features-container {
  flex: 1;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color:#181a1b;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
  border-top: 2px solid gray;
}


/**************************** Styles for all sections ***********************************/

.logo {
  position: fixed;
  width: 200px;
  margin-bottom: 10px;
}

.logo-txt1 {
  width: 190px;
}

.logo-txt2 {
  width: 150px;
}

.logo-footer {
    width: 80px;
    padding-bottom: 3px;
}

.vinnie-colaiuta-site-logo {
    width: 190px;
    margin-left: 7px;
}

.instagram-logo {
    width: 75px;
    margin-left: 24px;
}

.fb-logo {
    width: 130px;
}

.drummerworld-logo {
    width: 230px;
    margin-left: 10px;
}

.breakfast-logo {
    width: 200px;
    margin-left: 7px;
}

.github-logo {
    width: 140px;
    margin-left: 8px;
}

#loading-spinner {
    display: none;
}


.btn-success {
    margin-left: 15px;
}

.btn-outline-danger {
    margin-left: 15px;
}

.pick-album-btn {
    cursor: pointer;
}

.github-btn {
    width: 65px;
}

.home-btn,
.search-results-btn,
.links-btn {
    cursor: pointer;
    color: orange;
}

.search-results-btn:hover,
.home-btn:hover,
.your-playlist-btn:hover,
.links-btn:hover {
    color: darkorange;
}

.btn-primary {
    margin-bottom: 40px;
}

.what-is-vcradio-container {
    display: flex;
    text-align: justify;
    align-items: center;
}

.what-is-vcradio-container section {
    text-align: justify;

}

#links-section {
    flex-direction: column;
    width: 63%;
    margin-top: 120px;
    margin-right: 40px;
    margin-left: 120px;
    margin-bottom: 180px;
    padding: 30px;
    background-color: #343a40;
    color: #EBDBDA;
    border: 10px solid #9D961B;
}


#welcome-section {
      display: flex;
      flex-direction: column;
      margin-top: 120px;
      margin-right: 40px;
      margin-left: 40px;
      margin-bottom: 60px;
      padding: 30px;
      background-color: #343a40;
      color: #EBDBDA;
      border: 7px solid #9D961B;
}


.vinnie-image-1 {
    max-width: 420px;
    margin-left: 130px;

}

.vcradio-features-container {
    display: flex;
    text-align: justify;
    align-items: center;
}

.vinnie-image-2 {
    max-width: 380px;

}


/********************************** Audio Player ****************************************/
.player {
  position: fixed;
  bottom: 45px;
  width: 100%;
  background-color: rgb(37, 63, 63);
  color: #ffffff;
  text-align: center;
  border-top: 2px solid gray;
}

/* Container */
#container {
    text-align: center;
}

#title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 5px;
    color: #fff;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}


/* Player Controls */
#player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

/* YouTube Icon */
#youtube-icon {
    cursor: pointer;
    width: 33px;
    height: 33px;
    background-image: url('/play.png');
    background-size: cover;
    margin-right: 19px;
}

/* Progress Bar Container */
#progressContainer {
    width: 62%;
    height: 8px;
    background-color: rgb(42, 45, 47);
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid white;
}

/* Progress Bar */
#progressBar {
    height: 100%;
    background-color: #4CAF50;
    width: 0;
    transition: width 0.1s linear;
    border-radius: 4px;
}

/* Thumb */
#progressThumb {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #283593;
    border-radius: 50%;
    border: 2px solid #fff;
    pointer-events: none;
}

/* Time Info */
#timeInfo {
    margin: 5px 0;
    font-size: 13px;
    margin-right: 20px;
    margin-left: 10px;
}

/* Volume Slider */
.volume-slider {
    transform: translateY(-50%);
    float: right;
}

/* Volume Icon */
#volume-icon {
    width: 25px;
    height: auto;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
    float: right;
}

/* Volume Button */
#volumeButton {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-right: 5px;
    background-image: url('/static/assets/img/volume-up.svg');
    background-size: cover;
    cursor: pointer;
    filter: invert(1);
}

/* Volume Button (Muted) */
#volumeButton.muted {
    background-image: url('/static/assets/img/volume-mute.svg');
}
