body {
    background-color: #181a1b
}

/* Alternative Link */
#alternative-link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 3px;
}

/* YouTube Logo */
#youtube-logo {
    width: 100px;
    height: auto;
    margin-top: 5px;
}

/* Alternative Link Paragraph */
#alternative-link p {
    margin: 0;
    text-align: center;
}


.hidden {
    display: none;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  color: #fffacd;
  padding: 20px;
  background-color: black;
}

.main-content {
  margin-left: 270px;
  padding: 20px;
  background-color: #333;
  color: #fff;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2E4F4F;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}


/**************************** Styles for all sections ***********************************/

.logo {
  width: 200px;
  margin-bottom: 30px;
}

.logo-txt1 {
  width: 190px;
}

.logo-txt2 {
  width: 150px;
}

.btn-success {
    margin-left: 15px;
}

.btn-outline-danger {
    margin-left: 15px;
}

.pick-album-btn {
    cursor: pointer;
}

.search-results-btn {
    cursor: pointer;
    color: white;
}

.home-btn {
    cursor: pointer;
    color: white;
}

.your-playlist-btn {
    color: white;
}

.search-results-btn:hover,
.home-btn:hover,
.your-playlist-btn:hover {
    color: #d5f4e6;
}

/********************************** Audio Player ****************************************/
/* Container */
#container {
    text-align: center;
    margin-top: 20px;
}

#title {
    font-size: 24px;
    font-weight: bold;
    margin: 8px auto;
    text-align: center;
    color: #fff; /* Biały */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* Wzmocniony efekt cienia */
}


/* Player Controls */
#player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

/* YouTube Icon */
#youtube-icon {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-image: url('/play.png');
    background-size: cover;
    margin-right: 14px;
}

/* Progress Bar Container */
#progressContainer {
    width: 50%;
    height: 8px;
    background-color: rgb(42, 45, 47);/* jasny odcień szarego */
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); /* Dodanie cienia */
}

/* Progress Bar */
#progressBar {
    height: 100%;
    background-color: #4CAF50;
    width: 0;
    transition: width 0.1s linear;
    border-radius: 4px;
}

/* Thumb */
#progressThumb {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #283593;
    border-radius: 50%;
    border: 2px solid #fff;
    pointer-events: none;
}

/* Time Info */
#timeInfo {
    margin: 5px 0;
    font-size: 16px;
    margin-right: 20px;
    margin-left: 10px;
}

/* Volume Slider */
.volume-slider {
    transform: translateY(-50%);
    float: right;
}

/* Volume Icon */
#volume-icon {
    width: 25px;
    height: auto;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
    float: right;
}

/* Volume Button */
#volumeButton {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-right: 5px;
    background-image: url('/static/assets/img/volume-up.svg');
    background-size: cover;
    cursor: pointer;
    filter: invert(1);
}

/* Volume Button (Muted) */
#volumeButton.muted {
    background-image: url('/static/assets/img/volume-mute.svg');
}
