<div class="main-content">
    <div id="about-section">
            <div class="content-wrapper">
        <div class="what-is-vcradio-container">
            <section>
                <h2>What is <img src="static/assets/img/vc-radio-logo2.png" class="logo-txt2"> ?</h2>
                <br>
                <p>VC Radio is a web application designed <br> exclusively for enthusiasts of Vinnie Colaiuta - <br> - one of the greatest drummers of all time.</p>
                <br>
                <p>With VC Radio, you can delve deep <br> into Vinnie's extensive discography,<br> uncovering hidden gems <br> and timeless classics alike.</p>

                <img src="static/assets/img/vinniecolaiuta2.jpg" alt="VinnieColaiuta" class="vinnie-image-2">
            </section>

        </div>


        <div class="vcradio-features-container">
            <section>
                <h2>Discover new albums featuring <br> Vinnie Colaiuta on drums <br> with <img src="static/assets/img/vc-radio-logo2.png" class="logo-txt2"> !</h2>

                <br>

                <p>The main concept behind VC Radio is to offer <br>
                     a platform for exploring and listening to albums <br>
                     featuring Vinnie Colaiuta on drums. <br><br>
                    The key feature of the app is the Album Generator, <br>
                    which randomly selects albums from Colaiuta’s <br>
                    extensive discography spanning around <br>

                    1380 albums across diverse genres. <br><br>
                    You can listen to the albums directly <br>
                    within the app through custom built-in Audio Player.</p>

                <img src="static/assets/img/vinniecolaiuta.jpeg" alt="VinnieColaiuta" class="vinnie-image-1">
            </section>

        </div>
    </div>
        </div>
</div>