<div id="links">
    <h1>LINKS</h1>
    <br><br>
    <h4>VC Radio repository on <a href="https://github.com/MariuszLepkowski/VC-Radio" target="_blank"><img src="static/assets/img/github.png" class="github-logo"></a></h4>
    <br><br><br>
    <h4>Official Vinnie Colaiuta website <a href="https://vinniecolaiuta.com/" target="_blank"><img src="static/assets/img/vinnie-colaiuta-site.png" class="vinnie-colaiuta-site-logo"></a></h4>
    <br>
    <h4>Breakfast with Vinnie Podcast <a href="https://breakfastwithvinnie.com/" target="_blank"><img src="static/assets/img/breakfast-with-vinnie.png" class="breakfast-logo"></a></h4>
    <br>
    <h4>Vinnie Colaiuta on <a href="https://www.drummerworld.com/drummers/Vinnie_Colaiuta.html" target="_blank"><img src="static/assets/img/drummerworld.jpg" class="drummerworld-logo"></a></h4>
    <br><br>
    <h4>Vinnie Colaiuta on <a href="https://www.facebook.com/vinniecolaiutaofficial" target="_blank"><img src="static/assets/img/fb-logo.png" class="fb-logo"></a></h4>
    <br><br>
    <h4>Vinnie Colaiuta on <a href="https://www.instagram.com/vinniecolaiuta/" target="_blank"><img src="static/assets/img/instagram.png" class="instagram-logo"></a></h4>
</div>
