{% include "header.html" %}

{% include "menu-sidebar.html" %}


<div id="about-section" style="display: none;">
    {% include "about.html" %}
</div>


<div id="search-album-section" style="display: none;">
    {% include "album-generator.html" %}
</div>

<div class="main-content">
    <div id="welcome-section">
        <div>
            <h1>Welcome to VC-RADIO!</h1>
            <br><br><br>

            <h3>What is VC Radio?</h3>
            <p>VC Radio is a web application designed exclusively for enthusiasts of Vinnie Colaiuta. With VC Radio, you can delve deep into Vinnie's extensive discography, uncovering hidden gems and timeless classics alike.</p>
            <br><br><br>
            <h2>Discover the Sounds of Vinnie Colaiuta with VC Radio!</h2>
            <p>Are you a fan of Vinnie Colaiuta's incredible drumming? Look no further! Introducing VC Radio - your ultimate destination for exploring the captivating world of Vinnie Colaiuta's musical genius.</p>

        </div>
    </div>
</div>

<div id="player-section">
    {% include "player.html" %}
</div>


{% include "scripts.html" %}
