{% include "header.html" %}

{% include "menu-sidebar.html" %}


<div id="about-section" style="display: none;">
    {% include "about.html" %}
</div>


<div id="search-album-section" style="display: none;">
    {% include "album-generator.html" %}
</div>

<div class="main-content">
    <div id="welcome-section">
        <div>
            <h1>Welcome to <img src="static/assets/img/vc-radio-logo.png" class="logo-txt1"> !</h1>

            <br><br>

            <section>
                <h2>What is <img src="static/assets/img/vc-radio-logo.png" class="logo-txt2"> ?</h2>
                <p>VC Radio is a web application designed exclusively for enthusiasts of Vinnie Colaiuta.</p>
                <p>With VC Radio, you can delve deep into Vinnie's extensive discography, uncovering hidden gems and timeless classics alike.</p>
            </section>
            <br>
            <img src="static/assets/img/vinniecolaiuta.jpeg" alt="VinnieColaiuta" class="vinnie-image">
            <br><br>
            <section>
                <h2>Discover the Sounds of Vinnie Colaiuta with <img src="static/assets/img/vc-radio-logo.png" class="logo-txt2"> !</h2>
                <p>Are you a fan of Vinnie Colaiuta's incredible drumming? Look no further!</p>
                <p>Introducing VC Radio - your ultimate destination for exploring the captivating world of Vinnie Colaiuta's musical genius.</p>
            </section>

        </div>
    </div>
</div>

<div id="player-section">
    {% include "player.html" %}
</div>


{% include "scripts.html" %}
