{% include "header.html" %}

{% include "menu-sidebar.html" %}


<div id="about-section" style="display: none;">
    {% include "about.html" %}
</div>


<div id="search-album-section" style="display: none;">
    {% include "album-generator.html" %}
</div>

<div class="main-content">
    <div id="welcome-section">
        <div>

            <div class="content-wrapper">
                <div class="what-is-vcradio-container">
                    <section>
                        <h2>What is <img src="static/assets/img/vc-radio-logo2.png" class="logo-txt2"> ?</h2>
                        <br>
                        <p>VC Radio is a web application designed exclusively for enthusiasts</p>
                        <p>of Vinnie Colaiuta - one of the greatest drummers of all time.</p>
                        <br>
                        <p>With VC Radio, you can delve deep into Vinnie's extensive discography,</p>
                        <p>uncovering hidden gems and timeless classics alike.</p>

                        <img src="static/assets/img/vinniecolaiuta2.jpg" alt="VinnieColaiuta" class="vinnie-image-2">
                    </section>

                </div>


                <div class="vcradio-features-container">
                    <section>
                        <h2>Discover new albums featuring Vinnie Colaiuta on drums with <img src="static/assets/img/vc-radio-logo2.png" class="logo-txt2"> !</h2>

                        <br>

                        <p>VC Radio offers several features:</p>
                            <ul>
                                <li>Album Generator: Explore random albums featuring Vinnie Colaiuta.</li>
                                <li>Audio Player: Listen to generated albums within the app.</li>
                            </ul>
                        <img src="static/assets/img/vinniecolaiuta.jpeg" alt="VinnieColaiuta" class="vinnie-image-1">
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="player-section">
    {% include "player.html" %}
</div>

<div class="footer">
    {% include "footer.html" %}
</div>

{% include "scripts.html" %}
