<!-- Logo VC-Radio -->
<div class="sidebar">
  <img src="vc_radio_logo.png" alt="VC-Radio Logo" class="logo">
  <br>
  <br>
  <ul class="nav flex-column">
    <li id="home-button" class="nav-item nav-link home-btn" onclick="showHomeView()">Home</li>
    <li id="pick-random-album" class="nav-item nav-link pick-album-btn" onclick="pickRandomAlbum()">Pick random album</li>
    <li id="search-results-button" class="nav-item nav-link search-results-btn" onclick="showSearchResults()">Search results</li>
    <li class="nav-item">
      <details>
        <summary class="nav-link">Your Playlist</summary>
        <ul class="nav flex-column playlist-item">
          <li class="nav-item">Track 1</li>
          <li class="nav-item">Track 2</li>
          <li class="nav-item">Track 3</li>
        </ul>
      </details>
  </ul>
</div>
