<!-- Logo VC-Radio -->
<div class="sidebar">
  <img src="static/assets/img/vc-radio-logo.png" alt="VC-Radio Logo" class="logo">
  <br>
  <br>
  <ul class="nav">
    <li id="about-button" class="nav-item nav-link home-btn" onclick="showHomeView()">About</li>
    <li id="album-generator-button" class="nav-item nav-link search-results-btn" onclick="showSearchResults()">Album Generator</li>
    <li id="links-button" class="nav-item nav-link links-btn" onclick="showLinksSection()">Links</li>
    <li id="github-button" class="nav-item nav-link github-btn"> <a href="https://github.com/MariuszLepkowski/VC-Radio" target="_blank"><img src="static/assets/img/github.png" class="github-btn"></a></li>
    <li class="nav-item">
  </ul>
</div>
