<!-- JavaScript scripts -->
<script src="https://www.youtube.com/iframe_api"></script>
<script src="{{ url_for('static', filename='js/ytAudioPlayer.js') }}"></script>
<script src="{{ url_for('static', filename='js/searchResultsBtn.js') }}"></script>
<script src="{{ url_for('static', filename='js/AlbumGeneratorSection.js') }}"></script>
<script src="{{ url_for('static', filename='js/aboutSection.js') }}"></script>
<script src="{{ url_for('static', filename='js/generateAlbum.js') }}"></script>



<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>