<div class="main-content">
<div id="header">
    <h1>Randomly picked album with Vinnie:</h1>
    <h2>{{ album.artist }} - "{{ album.album_title }}"  ({{ album.year }})</h2>
</div>

<br>

<button class="btn btn-primary btn-lg" onclick="toggleSearchResults(this)">Show search results</button>
    <br><br><br><br>


<div id="search-results" class="hidden">

    {% if results.yt_music_album[1] %}
        <h2>Albums found on yt music:</h2>
        {% for album in results.yt_music_album[1] %}
            <p> {{ album.ytMusicAlbumArtist }} - "{{ album.ytMusicAlbumTitle }}" </p> <button class="btn btn-secondary" onclick="toggleTracklist(this)">Show tracklist</button>

            <div class="tracklist hidden">
                {% for track in album.AlbumTracklist %}
                    <p>{{ track.trackNumber }}. <a href="{{ track.trackURL }}">{{ track.trackTitle }}</a>

                        <button type="button" class="btn btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16" style="--darkreader-inline-fill: currentColor;" data-darkreader-inline-fill="">
                                <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"></path>
                            </svg>
                            Play track
                        </button>

                    </p>

                {% endfor %}
            </div>
    <br><br><br><br>
        {% endfor %}
    <br><br>
    {% endif %}

    {% if results.yt_music_playlist[1] %}
        <h2>Playlists found on yt music:</h2>
        {% for playlist in results.yt_music_playlist[1] %}
            <p> <a href="{{ playlist.ytMusicPlaylistURL }}">{{ playlist.ytMusicPlaylistTitle }}</a></p> <button class="btn btn-secondary" onclick="toggleTracklist(this)">Show tracklist</button>


            <div class="tracklist hidden">
                {% for track in playlist.PlaylistTracklist %}
                    <p>{{ track.trackNumber }}. <a href="{{ track.trackURL }}">{{ track.trackTitle }}</a>

                        <button type="button" class="btn btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16" style="--darkreader-inline-fill: currentColor;" data-darkreader-inline-fill="">
                                <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"></path>
                            </svg>
                            Play track
                        </button>

                    </p>

                {% endfor %}
            </div>
    <br><br><br><br>
        {% endfor %}
    <br><br>
    {% endif %}

    {% if results.yt_playlist[1] %}
        <h2>Playlists found on yt:</h2>
        {% for playlist in results.yt_playlist[1] %}
            <p> <a href="{{ playlist.YouTubePlaylistUrl }}">{{ playlist.YouTubePlaylistTitle }}</a></p> <button class="btn btn-secondary" onclick="toggleTracklist(this)">Show tracklist</button>


            <div class="tracklist hidden">
                {% for track in playlist.yt_playlist_tracklist %}
                    <p>{{ track.video_num }}. <a href="{{ track.video_url }}">{{ track.video_title }}</a>

                        <button type="button" class="btn btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16" style="--darkreader-inline-fill: currentColor;" data-darkreader-inline-fill="">
                                <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"></path>
                            </svg>
                            Play track
                        </button>

                    </p>

                {% endfor %}
            </div>
            <br><br><br><br>
        {% endfor %}
    <br><br><br><br>
    {% endif %}

    {% if results.yt_video[1] %}
        <h2>Videos found on yt:</h2>

        <button class="btn btn-secondary" onclick="toggleTracklist(this)">Show tracklist</button>

        <div class="tracklist hidden">

            {% for video in results.yt_video[1] %}
                <p> <a href="{{ video.YouTubeVideoUrl }}">{{ video.YouTubeVideoTitle }}</a>

                    <button type="button" class="btn btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16" style="--darkreader-inline-fill: currentColor;" data-darkreader-inline-fill="">
                                <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"></path>
                            </svg>
                            Play track
                    </button>

                </p>

            {% endfor %}
        </div>
        <br><br><br><br>
    {% endif %}

</div>



</div>
