  <!-- Main  -->
  <div class="main-content">
    <!-- "Home" section -->

    <section class="home-section">
      <!-- "Home" content-->
    </section>

    <!-- "Pick random album" section -->
    <section class="random-album-section">
      <!-- "Pick random album" content -->
    </section>

    <!-- "Search results" section -->
    <section class="search-results-section">
      <!-- "Search results" content-->
    </section>

    <!-- "Your Playlist" section -->
    <section class="playlist-section">
      <!-- "Your Playlist" content -->
    </section>

  </div>